matplotlib==3.1.1    
pytorch-transformers==1.0.0
tensorflow==1.14.0
textblob==0.15.3
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
